/***** CARD *****/
.card{
    transition: all .25s ease-in-out;
}

.card__link{
    display: inline-block;
    height: min-content;
}

/* the disappearing text effect */
.card__excerpt{
    position: relative;
}
.card__excerpt p{
    max-height: 6em; /* I want to show max 4 line paragraph in the excerpt. If it's shorter that's fine.*/
    overflow: hidden;
}
.card__excerpt:after {
    content: '';
    position: absolute;
    background: linear-gradient(180deg,hsla(0,0%,100%,0),#fff 99%,#fff);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    max-height: 70%; /* prevent the pseudo element to overflow and get in the title */
}

.card__author--details{
    color: #aaa;
}

.card__cta{
    text-align: right;
    transition: all .4s ease-in-out;
}

.card__cta span{
    text-transform: uppercase;
    position: relative;
    margin-right: 20px;
    letter-spacing: 1.25px;
}

.all-mentions__btn--load-other{
    text-align: center;
}

.card__cta span:after{
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 14L12.6255 5.56047L5.96956 5.56047L5.97552 4.10746H15.501V12.3224L13.8222 12.3224L13.8162 6.58734L5.81476 15.0666L4.5 14Z' fill='%233091D5'/%3E%3C/svg%3E%0A");
    position: absolute;
    /* position: relative; */
    width: 20px;
    height: 20px;
    right: -20px;
    /* margin-bottom: -2px; */
    top: 1px;
}

.card--all-mentions{
    border: none;
    border-radius: 0;
}

.vertical-row {
    flex-direction: column;
}

.vertical-row .card__link {
    margin: 1rem 0;
}

   /* HOVER */
.card:hover{
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    transform: translateY(-4px);
}

.card__link:hover {
    text-decoration: none;
    color: inherit;
}

.card__link:hover .card__cta {
    color: #058ed8;
    /* letter-spacing: 1px; */
}